/* Add here your own defined CSS */
body, #titlebar, #header, #page{
    background: none;
    background-color: #222222;
    color: #FFFFFF;
}

#page .container{
    margin-top: 20px;
}

#logo h1 a{
    background-color: #222222;
    color: #FFFFFF;
}

#logo h1 a:hover{
    background-color: #222222;
    color: #FFFFFF;
    cursor: default;
}

#total-projects, #net-donations {
    display: none;
}

#average-heat {
    width: 200px;
    position:relative;
    height:60px;
    font-size: 29px;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #222222;
}

#row-selection{
    float: right;
    padding-top: 12px;
}

.nb-recordings{
    margin-top: 20px;
    margin-bottom: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoor > tr > td
{
    padding: 4px;
}

.dc-table-group{
    display: none;
}

a, .dc-data-count .filter-count, .dc-data-count .total-count{
    color: #FFFFFF;
}

.table-bordered{
    1px solid #464545;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #555555;
}

a:hover, .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
    color: #000000;
    text-decoration: none;
}

strong{
    color: #FFFFFF;
}

.chart-title.bold strong{
    color: #2A2A2A;
}