/* Add here your own defined CSS */
#total-projects, #net-donations {
    display: none;
}

#average-heat {
    background: #33CC99;
    width: 200px;
    position:relative;
    height:60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
}

#row-selection{
    float: right;
    padding-top: 12px;
}

.nb-recordings{
    margin-top: 20px;
    margin-bottom: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoor > tr > td
{
    padding: 4px;
}